*{
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
}

.heading .heading__title{
  font-size: 36px;
  font-weight: 700;
}

.heading .heading__icon{
  font-size: 56px;
}

.input-wrapper{
  margin-top: 30px;
}

.input-wrapper .input__box{
    border: 0;
    border-bottom: 1px solid #d8d8d8;
    width: 350px;
    font-size: 14px;
    padding: 10px
}

.input-wrapper .input__box:focus{
  outline:  none;
  border-bottom: 1px solid #000;
}

.input-wrapper button{
    padding: 13px;
    border: 0;
    font-size: 12px;
    margin-left: 10px;
    display: none;
}

.settings{
  display: flex;
  justify-content: space-between;
}

textarea:focus, input:focus{
    outline: none;
}

