 .cards-slider__wrapper{
     display: none;
     
     &--active{
        display: block;
    }
    .cards-slider__item{
            width: 430px;
            height: 270px;
            margin: auto;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            border: 1px solid;
            border-radius: 5px;
            font-size: 24px;
            font-family: 'Roboto Mono';
            font-weight: 200;
            cursor: pointer;
            box-shadow: 8px 8px 0 1px;
         

            &-title,&-dscr{
               display: none;
               height: 100%;
               width: 100%;
                justify-content: center;
            align-items: center;
            }

            &--active{

                display: flex;
            }
        }
        
        

        .cards-actions{
            display: flex;
            justify-content: center;
            margin-top: 40px;
           
            &--fav{
                margin-right: 30px;
                 cursor: pointer;
            }

            img{
                display: inline-block;
                width: 20px;
                height: 20px;

            }
        }


 }
 

           